h1 {
    text-align: center;
}

main {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;

}

/*
.container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}*/

img {
    animation: fadeFromBlack 15s;
    width: 100%;
    background-color: black;
}

@keyframes fadeFromBlack {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;

    }
}

footer {
    text-align: center;
}